header {
  background-color: rgba(231, 78, 78, 0.932);
  color: white;
  display: flex;
  padding: 10px;
}

:root {
  --primary: lightslategray;
  --secondary: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-size: 50px;
}

#navbar {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 50px;
}

.card-body {
  background-color: var(--secondary);
  color: var(--primary);
}

.card-header {
  background-color: var(--primary);
  color: var(--secondary);
}

.container {
  margin: 100px auto;
  justify-content: space-evenly;
  display: flex;
}
